@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700,700i");

:root {
  --text-main: rgba(204, 214, 250, 0.96);
  --text-secondary: rgb(245, 247, 255, 0.8);
  --bg-darker: rgb(1, 15, 27);
  --bg-dark: rgb(16, 26, 46);
  --bg-lighter: rgba(104, 159, 255, 0.14);
  --bg-lightest: rgba(186, 206, 241, 0.14);
}

body {
  color: var(--text-main);
  background-color: var(--bg-darker);
  margin: 0;
  font-family: "IBM Plex Mono";
}

h1,
h2 {
  font-weight: 700;
  letter-spacing: 0.7px;
  margin: 0;
}

p {
  margin: 0;
  margin-bottom: 0.2em;
}

button {
  color: var(--text-main);
  background: var(--bg-lighter);
  border-radius: 3px;
  font-size: 0.9rem;
  cursor: pointer;
  border: 1.5px solid var(--bg-lightest);
  padding: 7px 10px;
  font-family: inherit;
}

.connection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.connection h1 {
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: center;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.box {
  width: 380px;
  border-radius: 5px;
  border: 1px solid var(--bg-lightest);
  background-color: var(--bg-dark);
  color: var(--text-secondary);
  margin: 20px 20px;
}

.box h2 {
  margin: 20px 20px 15px;
  font-style: italic;
}

.box > hr {
  border: 0.5px solid var(--bg-lightest);
}

.box__content {
  margin: 30px 20px;
  font-size: 0.96rem;
}
